.col {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    font-size: 12px;
    color: #5f6579;
  }
}