.month-input {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  .bold {
    font-weight: 700;
    font-size: 1.1rem;
  }
  .arrow {
    margin: .5rem 0;
  }
}
.calendar {
  &__input {
    width: 18rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 8px;
    border: 1px solid black;
  }
}