.month {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  .bold {
    font-weight: 700;
    margin-top: -0.25rem;
    color: #202945;
    font-size: 14px;
  }
  .arrow {
    margin: 0.05rem -1.25rem;
  }
}
