.calendar {
  margin: 20rem 0;
  .input {
    width: 16rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 8px;
    border: 1px solid black;
    font-size: .75rem;
    padding: 0 .5rem;
  }
  &__white {
    background-color: white;
    height: 5rem;
    border-radius: .5rem;
  }
}
