.calendar {
  margin: 20rem 0;
  .input {
    width: 16rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 8px;
    border: 1px solid #202945;
    font-size: 0.75rem;
    padding: 0 0.5rem;
    overflow: hidden;
  }
  &__background {
    background-color: white;
    height: 4rem;
    width: 18rem;
    padding: 2rem;
    border-radius: 8px;
  }
  &__white {
    position: relative;
    background-color: white;
    width: 18rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: 0.1px solid #202945;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding: 13px;
    label {
      color: #5f6579;
      font-size: 12px;
      margin-bottom: 0.05rem;
      line-height: 15px;
    }
    input {
      width: 200px;
      border: 0;
      font-family: "Inter", sans-serif;
      color: #202945;
      font-size: 14px;
    }
    .icon {
      position: absolute;
      left: 88%;
      bottom: 30%;
    }
    input[type="date"]::-webkit-inner-spin-button,
    [type="date"]::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  .calendar {
    display: flex;
    margin: auto;
    margin: 10rem 0;
    &__backround {
      padding: 0;
    }
  }
}
