.form {
  width: 100%;
  height: 365px;
  max-width: 299px;
  border-radius: 12px;
  padding: 0.25rem 1rem 1.25rem;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .card {
    display: grid;
    grid-template-columns:  repeat(7, 1fr);
  }
  .col {
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid transparent;
      font-size: 12px;
      color: #5F6579;
    }
    .focused {
      background-color: white;
      color: #5F6579;
      border-radius: 100%;
      cursor: pointer;
      border: 1px solid black;
    }
    .day {
      display: flex;
      justify-content: center;
      font-size: 13px;
      &:hover {
        background-color: white;
        border-radius: 100%;
        cursor: pointer;
        border: 1px solid black;
      }
    }
  }
}
@media (max-width: 1400px) {
  .form {
    width: 100%;
    .col {
      div {
        width: 2rem;
        height: 2rem;
        margin: 5px;
      }
    }
  }
}
