.form {
  width: 25%;
  max-width: 400px;
  border-radius: 12px;
  padding: 0.25rem 1rem 1.25rem;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .card {
    display: flex;
    justify-content: center;
  }
  .col {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      margin: 5px;
      border: 1px solid transparent;
      font-size: 0.95rem;
    }
    .day {
      display: flex;
      justify-content: center;
      &:hover {
        background-color: white;
        border-radius: 100%;
        cursor: pointer;
        border: 1px solid black;
      }
    }
  }
}
@media (max-width: 1400px) {
  .form {
    width: 100%;
    .col {
      div {
        width: 2rem;
        height: 2rem;
        margin: 10px;
      }
    }
  }
}
